{% extends 'base.html' %}

{% block title %} Detail of process {% endblock %}

{% block lib %}
<script src="{{ url_for('static', filename='lib/custom/modProc.js') }}"></script>
{% endblock %}

{% block content %}
<input id="processid" hidden value={{process.id}}></input>
<div class="section-title">
    View and edit the detail of the process
</div>

<div class="section-content">
    <div class="section-item">
        <div class="process">
            <label class="id" hidden>{{process.id}}</label>
            <div>
                <label>Process name</label>
                <input type="text" id="processname" value="{{process.name}}" />
            </div>
            <div>
                <label>Product</label>
                <select id="processproduct">
                    <option selected disabled value={{process.product.id}}>{{process.product}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="section-item">
    <div class="process">
        {% for element in process.complex_tasks %}
        <div class="row">
            {% if element.parent is none %}
            <div class='subtask' id=contain{{element.id}}>
                <label hidden>{{element.id}}</label>
                <label> Complex task name: {{element.name}}</label> &nbsp
            <!-- <button class='complexST'>Add a complex sub-task</button>
            <button class='simpleST'>Add a simple sub-task</button></div> -->
            </div>
            {% else %}
            <script type="text/javascript">
                tdiv = $("#contain" + '{{element.parent.id}}')
                res = '';
                res += ("<div class='subtask' id=contain" + '{{element.id}}' + ">");
                res += ("<label class='ctaskid' hidden>" + '{{element.id}}' + "</label>");
                res += ("<label> Complex task name: " + '{{element.name}}' + "</label> &nbsp;");
                res += ('</div>')
                tdiv.append(res);
            </script>
            {% endif %}
        </div>
        {% endfor %}
        {% for element in process.simple_tasks %}
        <div class="row">
            {% if element.parent is none %}
            <div class='subtask' id=contain{{element.id}}>
                <label hidden>{{element.id}}</label>
                <label> Simple task name: {{element.name}}</label> &nbsp
                <label> Collaborative modality: {{element.modality}}</label>
            </div>
            {% else %}
            <script type="text/javascript">
                tdiv = $("#contain" + '{{element.parent.id}}')
                res = '';
                res += ("<div class='subtask' id=Scontain" + '{{element.id}}' + ">");
                res += ("<label class='staskid' hidden>" + '{{element.id}}' + "</label>");
                res += ("<label> Simple task name: " + '{{element.name}}' + "</label> &nbsp;");
                res += ("<label> Collaborative modality: " + '{{element.modality}}' + "</label>");
                res += ('</div>')
                tdiv.append(res);
            </script>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <div class="row">
            <a href='/process/'>
                <button>Back</button>
            </a>
            <button type="button" id="edit">Save process</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $("#processproduct").find("option:gt(0)").remove();
    '{% for element in products %}'
        $('#processproduct').append('<option value=' + '{{element.id}}' + '>' + '{{element.name}}' + '</option>');
    '{% endfor %}'
</script>
{% endblock %}
