{% extends 'base.html' %}

{% block title %} Detail of process {% endblock %}

{% block lib %}
<script src="{{ url_for('static', filename='lib/custom/modProc.js') }}"></script>
{% endblock %}

{% block content %}
<input id="processid" hidden value={{process.id}}></input>
<div class="section-title">
    View and edit the detail of the process
</div>

<div class="section-content">
    <div class="section-item">
        <div class="process">
            <label class="id" hidden>{{process.id}}</label>
            <div>
                <label>Process name</label>
                <input type="text" id="processname" value="{{process.name}}" />
            </div>
            <div>
                <label>Product</label>
                <select id="processproduct">
                    <option selected disabled value={{process.product.id}}>{{process.product}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="section-item">
    <div class="process">
        <h4>List of tasks:</h4>
        {% for element in process.tasks_list %}
            {% if element.typeTask!='SimpleTask' %}
            <div class="row">
                {% if element.parent_id is none %}
                <div class='subtask' id=contain{{element.id}}>
                    <label hidden>{{element.id}}</label>
                    <label> Task name: {{element.name}}</label> &nbsp; &nbsp;
                    <label> Task type: {{element.typeTask}}</label> &nbsp;
                </div>
                {% else %}
                <script type="text/javascript">
                    tdiv = $("#contain" + '{{element.parent_id}}')
                    res = '';
                    res += ("<div class='subtask' id=contain" + '{{element.id}}' + ">");
                    res += ("<label class='ctaskid' hidden>" + '{{element.id}}' + "</label>");
                    res += ("<label> Task name: " + '{{element.name}}' + "</label> &nbsp; &nbsp;");
                    res += ("<label> Task type: " + '{{element.typeTask}}' + "</label> &nbsp;");
                    res += ('</div>')
                    tdiv.append(res);
                </script>
                {% endif %}
            </div>
            {% else %}
            <div class="row" id="simpleAppend">
                <script type="text/javascript">
                    '{% if element.parent_id is none %}'
                        tdiv = $("#simpleAppend")
                    '{% else %}'
                        tdiv = $("#contain" + '{{element.parent_id}}')
                    '{% endif %}'
                    res = '';
                    res += ("<div class='subtask' id=Scontain" + '{{element.id}}' + ">");
                    res += ("<label class='staskid' hidden>" + '{{element.id}}' + "</label>");
                    res += ("<label> Task name: " + '{{element.name}}' + "</label> &nbsp;");
                    res += ("<label> Task type: SimpleTask </label> &nbsp;");
                    res += ("<label> Collaborative modality: " + '{{element.modality}}' + "</label>");
                    res += ("<div><label> Function 1: " + '{{element.f1.name}}' + "</label></div>");
                    '{% if element.f2 is not none %}'
                        res += ("<div><label> Function 2: " + '{{element.f2.name}}' + "</label></div>");
                    '{% endif %}'
                    res += ("</div>");
    
                    tdiv.append(res);
                </script>
            </div>
            {% endif %}
        {% endfor %}
        
        <h4>Constraints:</h4>
        {% for element in process.constraints %}
        <div>
            <label> Task: '{{element.t1}}' </label>
            <label> BEFORE </label>
            <label> Task: '{{element.t2}}' </label>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <a href='/process/'>
            <button>Back</button>
        </a>
        <button type="button" id="edit">Save process</button>
    </div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
    $("#processproduct").find("option:gt(0)").remove();
    '{% for element in products %}'
        $('#processproduct').append('<option value=' + '{{element.id}}' + '>' + '{{element.name}}' + '</option>');
    '{% endfor %}'
</script>
{% endblock %}
