{% extends 'base.html' %}

{% block title %} Products {% endblock %}

{% block content %}
<div class="section-title">
    Choose an operation
</div>

<div class="section-content">
    <div class="section-item">
        <div class="process">
            <div class="navbar">
                <button class="navbarB">
                    <a href="/products/newProd">Add a new product</a>
                </button>
                <button class="navbarB">
                    <a href="/products/newProdFamily">Add a new product family</a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="section-item">
    <div class="process">
        {% for element in products %}
            <div class="row">
                <h3>{{element.name}}</h3>
                <h2>{{element.product_family.name}}</h2>
                <button>Edit</button>
                <button>Remove</button>
            </div>
            <hr size="2" color="black">
        {% endfor %}
    </div>
</div>
{% endblock %}