{% extends 'base.html' %}

{% block title %} Demands {% endblock %}

{% block content %}
<div class="section-title">
    Choose an operation
</div>

<div class="section-content">
    <div class="section-item">
        <div class="process">
            <div class="navbar">
                <h2> FORM </h2>
            </div>
        </div>
    </div>
</div>

<div class="section-item">
    <div class="process">
        {% for element in demands %}
            <div class="row">
                <h3>{{element.name}} Type:{{element.typeDem}}<h5>Quantity: {{element.quantity}} Product: {{element.product.name}}</h5></h3>
                <button>Edit</button>
                <button>Remove</button>
            </div>
            <hr size="2" color="black">
        {% endfor %}
    </div>
</div>
{% endblock %}