{% extends 'base.html' %}

{% block title %} Edit demand {% endblock %}

{% block lib %}
<script src="{{ url_for('static', filename='lib/custom/indexDem.js') }}"></script>
{% endblock %}

{% block content %}
<div class="section-title">
    Modify the data of the demand
</div>

<div class="section-content">
    <!--
    <div class="section-item">
        <div class="process">
            <div class="navbar">
                <div class='form'>
                    <div class='demand-form'>
    -->
                        <input id="demandid" hidden value={{demand.id}}></input>
                        <div>
                            <label>Demand name</label>
                            <input type="text" id="demandname" value={{demand.name}} />
                        </div>
                        <div>
                            <label>Demand type</label>
                            <select id="demandtype">
                                <option selected disabled>{{demand.typeDem}}</option>
                                <option>CustomerOrder</option>
                                <option>EngineeringWorkOrder</option>
                                <option>StockOrder</option>
                            </select>
                        </div>
                        <div>
                            <label>Product</label>
                            <select id="demandproduct">
                                <option selected disabled>{{demand.product.name}}</option>
                            </select>
                        </div>
                        <div>
                            <label>Quantity </label>
                            <input type="number" id="demandquantity" value={{demand.quantity}} />
                        </div>
                            <!-- 
                    </div> 
                </div>
            </div>
            <div class="navbar">
                -->
                <a href='/demands/'>
                    <button>Back</button>
                </a>
                <button type="button" id="edit">Save demand</button>
                <!--
            </div>
        </div>
    </div>
    -->
</div>
{% endblock %}

{% block script %}
<script>
    $("#demandproduct").find("option:gt(0)").remove();
    '{% for element in products %}'
        $('#demandproduct').append('<option value=' + '{{element.id}}' + '>' + '{{element.name}}' + '</option>');
    '{% endfor %}'
</script>
{% endblock %}