{% extends 'base.html' %}

{% block title %} Edit demand {% endblock %}

{% block lib %}
<script src="{{ url_for('static', filename='lib/custom/indexDem.js') }}"></script>
{% endblock %}

{% block content %}
<div class="section-title">
    Modify the data of the demand
</div>

<div class="section-content">
                        <input id="demandid" hidden value={{demand.id}}></input>
                        <div>
                            <label>Demand name</label>
                            <input type="text" id="demandname" value="{{demand.name}}" />
                        </div>
                        <div>
                            <label>Demand type</label>
                            <select id="demandtype">
                                <option selected disabled>{{demand.typeDem}}</option>
                                <option>CustomerOrder</option>
                                <option>EngineeringWorkOrder</option>
                                <option>StockOrder</option>
                            </select>
                        </div>
                        <div>
                            <label>Product</label>
                            <select id="demandproduct">
                                <option selected disabled value="{{demand.product.id}}">{{demand.product}}</option>
                            </select>
                            <label>Through process:</label>
                            <select id="demandprocess">
                            </select>
                            <script type="text/javascript">
                                var divProd = document.getElementById('demandproduct');
                                var divProc = $("#demandprocess");
                                divProc.find("option:gt(0)").remove();
                                if(divProd.value === '{{demand.product.id}}') {
                                    divProc.append('<option selected disabled value=' + '{{demand.process.id}}' + '>' + '{{demand.process}}' + '</option>');
                                    '{% for element in demand.product.processes %}'
                                    divProc.append('<option value=' + '{{element.id}}' + '>' + '{{element.name}}' + '</option>');
                                    '{% endfor %}'
                                }
                                else {
                                    divProc.val('None'); 
                                    '{% for element in processes %}'
                                    divProc.append('<option value=' + '{{element.id}}' + '>' + '{{element.name}}' + '</option>');
                                    '{% endfor %}'  
                                }
                                divProc.append('<option value=none> None </option>');
                            </script>
                        </div>
                        <div>
                            <label>Quantity </label>
                            <input type="number" id="demandquantity" value={{demand.quantity}} />
                        </div>
                           
                <a href='/demands/'>
                    <button class='links'>Back</button>
                </a>
                <button type="button" id="edit">Save demand</button>
                
</div>
{% endblock %}

{% block script %}
<script>
    $("#demandproduct").find("option:gt(0)").remove();
    '{% for element in products %}'
        $('#demandproduct').append('<option value=' + '{{element.id}}' + '>' + '{{element.name}}' + '</option>');
    '{% endfor %}'

    if (sessionStorage.getItem('selectedtem')) {
        $('#demandproduct').val(sessionStorage.getItem('selectedtem'));
        $("#demandprocess").val('None');
    }
</script>
{% endblock %}