{% extends 'base.html' %}

{% block title %} Shopfloor {% endblock %}

{% block content %}
<div class="section-title">
    Choose an operation
</div>

<div class="section-content">
    <div class="section-item">
        <div class="process">
            <div class="navbar">
                <button class="navbarB">
                    <a href="/sf/newRes">Add a new resource</a>
                </button>
                <button class="navbarB">
                    <a href="/sf/newAggr">Add an aggregate resource</a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="section-item">
    <div class="process">
    </div>
</div>
{% endblock %}