{% extends 'base.html' %}

{% block title %} Aggregate Resources {% endblock %}

{% block lib %}
<script src="{{ url_for('static', filename='lib/custom/indexResAggr.js') }}"></script>
{% endblock %}

{% block content %}
<div class="section-title">
  Add a new aggregate resource
</div>
<div class="section-content">
  <div class="section-item">
    <div class="process">
      <div class="navbar">
        <div class='form'>
          <div class='demand-form'>
            <label>Aggregate Resource name:</label>
            <input type="text" id="new-arname" />
            <!--<label>Resources</label>
            <select id="new-res">
              <option selected disabled></option>
            </select>
            TODO
        qui potrebbe essere che tu clicchi la risorsa e ti esce a destra la lista con i checkbox-->
          </div>
        </div>
      </div>
      <div class="navbar">
        <button type="button" id="sub">Save aggregate resource</button>
      </div>
    </div>
  </div>
</div>

<div class="section-item">
  <div class="section-title">
    Aggregate Resources
  </div>
  <div class="process">
      {% for element in aResources %}
      <div>
          <div class="row mainproperties">
            <label>Aggregate Resource name:</label>
            <input type="text" class="arname" value="{{element.name}}" />

            <label class="id" hidden>{{element.id}}</label>
            <button class='removeAR'>Remove</button>
          </div>
            {% for resource in element.resources %}
            <div class="row"> 
              <label class="resid" hidden>{{resource.id}}</label>
              <label>Resource: {{resource}}</label>
              <button class='removeR'>Remove from the aggregate resource</button>
            </div>
            {% endfor %}
            <!--TODO aggiungi risorsa ad aggregata-->
          <hr size="2" color="black">
        </div>
      {% endfor %}
  </div>
</div>
{% endblock %}

{% block script %}
<!--TODO
<script>
    $("#new-defaultpf").find("option:gt(0)").remove();
    $(".defaultpf").find("option:gt(0)").remove();
    '{% for element in processes %}'
        $('#new-defaultpf').append('<option value=' + '{{element.id}}' + '>' + '{{element.name}}' + '</option>');
        $('.defaultpf').append('<option value=' + '{{element.id}}' + '>' + '{{element.name}}' + '</option>');
    '{% endfor %}'
    $('#new-defaultpf').append('<option value=none> None </option>');
    $('.defaultpf').append('<option value=none> None </option>');
</script>
-->
{% endblock %}