{% extends 'base.html' %}

{% block title %} Edit a Resource {% endblock %}

{% block lib %}
<script src="{{ url_for('static', filename='lib/custom/indexRes.js') }}"></script>
{% endblock %}

{% block content %}
<div class="section-title">
    Edit the data of the resource
</div>

<div class="section-content">
    <input id="resourceid" hidden value={{resource.id}}></input>
    <div>
        <label>Resource name</label>
        <input type="text" id="resourcename" value="{{resource.name}}" />
    </div>
    <div>
        <label>Resource description</label>
        <input type="text" id="resourcedescription" value="{{resource.description}}" />
    </div>
    <div>
        <label>Resource capacity</label>
        <input type="number" id="resourcecapacity" value="{{resource.capacity}}" placeholder="{{resource.capacity}}" />
    </div>
    <div>
        <label>Resource type</label>
        <!-- <select id="resourcetype">
        </select> -->
        <label id="resourcetype">{{resource.typeRes}}</label>
    </div>
    <div>
        <label>Aggregate Resource (Optional)</label>
        <select id="aggregate_resource">
            <option selected disabled value={{resource.aggregate_resource.id}}>{{resource.aggregate_resource}}</option>
        </select>
    </div>

    <div id='mod-capabilityForm'>
        <label>Capabilities:</label>
        <div class="subtask" id="resCap">
        {% for element in resource.capabilities %}
            <div class='capability'>
                <label class='oldCapId capabilityId' value="{{element.name}}">{{element.name}}</label>
                <button class='delCapability'>Remove</button>
            </div>
        {% endfor %}
        </div>
        <div>
        <button id="addNew">Add a new capability</button>
        <button id="selectOld">Select a pre-existing capability</button>
        </div>

        <div class="new-capability">
            <label>Capability name: </label>
            <input type="text" id="capabilityname" />
          </div>
          <div class="new-capability">
            <button id="doneNew">Done</button>
          </div>
        
          <div class="select-capability">
            <label>Capability: </label>
              <select id="selected-cap">
              </select>
          </div>
          <div class="select-capability">
            <button id="doneSelect">Done</button>
          </div>
        
          <script type="text/javascript">
            var divCap = $("#selected-cap");
            divCap.find("option:gt(0)").remove();
            divCap.append('<option selected disabled></option>');
            '{% for element in capabilities %}'
            '{% if element not in resource.capabilities %}'
            divCap.append('<option value=' + "'{{element.name}}'" + '>' + '{{element.name}}' + '</option>');            
            '{% endif %}'
            '{% endfor %}'
          </script>
    </div>

    <a href='/sf/'>
        <button>Back</button>
    </a>
    <button type="button" id="edit">Save resource</button>
</div>
{% endblock %}

{% block script %}
<script>
    // $("#resourcetype").find("option:gt(0)").remove();
    // $('#resourcetype').append('<option selected disabled value=' + "'{{resource.typeRes}}'" + '>' + "'{{resource.typeRes}}'" + '</option>');' 
    // '{% for element in types %}'
    //   $('#resourcetype').append('<option value=' + '{{element}}' + '>' + '{{element}}' + '</option>');
    // '{% endfor %}'

    $("#aggregate_resource").find("option:gt(0)").remove();
    '{% for element in aggregates %}'
    $('#aggregate_resource').append('<option value=' + '{{element.id}}' + '>' + '{{element.name}}' + '</option>');
    '{% endfor %}'
    $('#aggregate_resource').append('<option value=none> None </option>');

    if(AGENTS.includes('{{resource.typeRes}}')) {
        $("#mod-capabilityForm").show();
    }
    else {
        $("#mod-capabilityForm").hide();
    }
</script>
{% endblock %}