{% extends 'base.html' %}

{% block title %} Add a resource {% endblock %}

{% block lib %}
<script src="{{ url_for('static', filename='lib/custom/indexRes.js') }}"></script>
{% endblock %}

{% block content %}
<div class="section-title">
  Enter the data of the new resource
</div>

<div class="section-content">
  <div>
    <label>Resource name</label>
    <input type="text" id="new-resourcename" />
  </div>
  <div>
    <label>Resource type</label>
    <select id="new-resourcetype">
      <option selected disabled></option>
    </select>
  </div>
  <div>
    <label>Aggregate Resource (Optional)</label>
    <select id="new-aggregate_resource">
      <option selected disabled></option>
    </select>
  </div>

  <label class="functionForm">Functions:</label>
  <div id="result" class="subtask">
  </div>

  <div class="functionForm">
    <button id="addNew">Add a new function</button>
    <button id="selectOld">Select a pre-existing function</button>
  </div>

  <div class="new-function">
    <label>Function name: </label>
    <input type="text" id="new-functionname" />
  </div>
  <div class="new-function">
    <button id="new-doneNew">Done</button>
  </div>

  <div class="select-function">
    <label>Function: </label>
      <select id="new-selected-f">
      </select>
  </div>
  <div class="select-function">
    <button id="new-doneSelect">Done</button>
  </div>

  <script type="text/javascript">
    var divFunc = $("#new-selected-f");
    divFunc.find("option:gt(0)").remove();
    divFunc.append('<option selected disabled></option>');
    '{% for element in functions %}'
    divFunc.append('<option value=' + '{{element.id}}' + '>' + '{{element.name}}' + '</option>');
    '{% endfor %}'
  </script>

  <a href='/sf/'>
    <button>Back</button>
    </a>
    <button type="button" id="sub">Save resource</button>
</div>
{% endblock %}

{% block script %}
<script>
    $("#new-resourcetype").find("option:gt(0)").remove();
    '{% for element in types %}'
      $('#new-resourcetype').append('<option value=' + '{{element}}' + '>' + '{{element}}' + '</option>');
    '{% endfor %}'

    $("#new-aggregate_resource").find("option:gt(0)").remove();
    '{% for element in aggregates %}'
        $('#new-aggregate_resource').append('<option value=' + '{{element.id}}' + '>' + '{{element.name}}' + '</option>');
    '{% endfor %}'
    $('#new-aggregate_resource').append('<option value=none> None </option>');
</script>
{% endblock %}