{% extends 'base.html' %}

{% block title %} Add a resource {% endblock %}

{% block lib %}
<script src="{{ url_for('static', filename='lib/custom/indexRes.js') }}"></script>
{% endblock %}

{% block content %}
<div class="section-title">
  Enter the data of the new resource
</div>

<div class="section-content">
  <div>
    <label>Resource name</label>
    <input type="text" id="new-resourcename" />
  </div>
  <div>
    <label>Resource description (Optional)</label>
    <input type="text" id="new-resourcedescr" />
  </div>
  <div>
    <label>Resource type</label>
    <select id="new-resourcetype">
    </select>
  </div>
  <div>
    <label>Aggregate Resource (Optional)</label>
    <select id="new-aggregate_resource">
      <option selected>None</option>
    </select>
  </div>

  <label class="capabilityForm">Capabilities:</label>
  <div id="result" class="subtask">
  </div>

  <div class="capabilityForm">
    <button id="addNew">Add a new capability</button>
    <button id="selectOld">Select a pre-existing capability</button>
  </div>

  
  <div class="new-capability">
    <label>Capability name: </label>
    <input type="text" id="new-capabilityname" />
  </div>
  
  <div class="new-capability">
    <button id="new-doneNew">Done</button>
  </div>


  <div class="select-capability">
    <label>Capability: </label>
      <select id="new-selected-cap">
      </select>
  </div>

  <div class="select-capability">
    <button id="new-doneSelect">Done</button>
  </div>

  <script type="text/javascript">
    var divCap = $("#new-selected-cap");
    divCap.find("option:gt(0)").remove();
    divCap.append('<option selected disabled></option>');
    '{% for element in capabilities %}'
    divCap.append('<option value=' + "'{{element.name}}'" + '>' + '{{element.name}}' + '</option>');
    '{% endfor %}'
  </script>

  <a href='/sf/'>
    <button>Back</button>
    </a>
    <button type="button" id="sub">Save resource</button>
</div>
{% endblock %}

{% block script %}
<script>
    $("#new-resourcetype").find("option:gt(0)").remove();
    $("#new-resourcetype").append('<option selected disabled></option>');
    '{% for element in types %}'
      $('#new-resourcetype').append('<option value=' + '{{element}}' + '>' + '{{element}}' + '</option>');
    '{% endfor %}'

    $("#new-aggregate_resource").find("option:gt(0)").remove();
    '{% for element in aggregates %}'
        $('#new-aggregate_resource').append('<option value=' + '{{element.id}}' + '>' + '{{element.name}}' + '</option>');
    '{% endfor %}'
</script>
{% endblock %}